%div{ :style=>"width: 90%; height: 90%; " }
  - form_for(@user) do |f|
    = f.error_messages
    %table
      %tr
        %td
          = f.label :gid
        %td
          = f.text_field :gid, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :username
        %td
          = f.text_field :username, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :email
        %td
          = f.text_field :email, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :firstname
        %td
          = f.text_field :firstname, :dojoType => "dijit.form.TextBox", :trim => "true", :propercase => "true"
      %tr
        %td
          = f.label :lastname
        %td
          = f.text_field :lastname, :dojoType => "dijit.form.TextBox", :trim => "true", :propercase => "true"
      %tr
        %td
          = f.label :password
        %td
          = f.password_field :password, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :pwexpires
        %td
          - tn = Date
          = f.text_field :pwexpires, :dojoType => "dijit.form.DateTextBox", :value => tn
      %tr
        %td
          = f.label :pwhint
        %td
          = f.text_field :pwhint, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :notes
        %td
          = f.text_area :notes, :dojoType => "dijit.form.SimpleTextarea", :rows=> "4", :cols=>"50", :style=>"width:auto;"
      %tr
        %td
          = f.label :address1
        %td
          = f.text_field :address1, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :address2
        %td
          = f.text_field :address2, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :city
        %td
          = f.text_field :city, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :state
        %td
          = f.text_field :state, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :postalcode
        %td
          = f.text_field :postalcode, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :country
        %td
          = f.text_field :country, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :phone1
        %td
          = f.text_field :phone1, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :phone2
        %td
          = f.text_field :phone2, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :gender
        %td
          = f.text_field :gender, :dojoType => "dijit.form.TextBox"
      %tr
        %td
          = f.label :bday
        %td
          = f.text_field :bday, :dojoType => "dijit.form.DateTextBox"
      %tr
        %td
          = f.label :enabled
        %td
          = f.check_box :enabled, :dojoType => "dijit.form.CheckBox"
      %tr
        %td
          = f.label :mailbox
        %td
          = f.check_box :mailbox, :dojoType => "dijit.form.CheckBox"
      %tr
        %td
          = f.label :mailquota
        %td
          = f.text_field :mailquota, :dojoType => "dijit.form.TextBox"
      %tr
        %td{ :colspan => 2, :align => "right" }
          -#= f.submit 'Create'
          %button{ :id=>"user_submit", :name=>"commit", :type=>"submit", :value=>"Update", :dojoType => "dijit.form.Button" }
            Save Changes to user - 
            = @user.username.capitalize
