<h1>Listing users</h1>

<table>
  <tr>
    <th>Gid</th>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Password</th>
    <th>Pwexpires</th>
    <th>Pwhint</th>
    <th>Notes</th>
    <th>City</th>
    <th>State</th>
    <th>Postalcode</th>
    <th>Country</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Bday</th>
    <th>Lastlogin</th>
    <th>Enabled</th>
    <th>Mailbox</th>
    <th>Logintotal</th>
    <th>Timebank</th>
    <th>Loginfailed</th>
    <th>Mailquota</th>
    <th>Totalposts</th>
    <th>Totaluploads</th>
    <th>Totaldownloads</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.gid %></td>
    <td><%=h user.username %></td>
    <td><%=h user.firstname %></td>
    <td><%=h user.lastname %></td>
    <td><%=h user.password %></td>
    <td><%=h user.pwexpires %></td>
    <td><%=h user.pwhint %></td>
    <td><%=h user.notes %></td>
    <td><%=h user.city %></td>
    <td><%=h user.state %></td>
    <td><%=h user.postalcode %></td>
    <td><%=h user.country %></td>
    <td><%=h user.email %></td>
    <td><%=h user.gender %></td>
    <td><%=h user.address1 %></td>
    <td><%=h user.address2 %></td>
    <td><%=h user.phone1 %></td>
    <td><%=h user.phone2 %></td>
    <td><%=h user.bday %></td>
    <td><%=h user.lastlogin %></td>
    <td><%=h user.enabled %></td>
    <td><%=h user.mailbox %></td>
    <td><%=h user.logintotal %></td>
    <td><%=h user.timebank %></td>
    <td><%=h user.loginfailed %></td>
    <td><%=h user.mailquota %></td>
    <td><%=h user.totalposts %></td>
    <td><%=h user.totaluploads %></td>
    <td><%=h user.totaldownloads %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>