<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :gid %><br />
    <%= f.text_field :gid %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :pwexpires %><br />
    <%= f.date_select :pwexpires %>
  </p>
  <p>
    <%= f.label :pwhint %><br />
    <%= f.text_field :pwhint %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :postalcode %><br />
    <%= f.text_field :postalcode %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </p>
  <p>
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </p>
  <p>
    <%= f.label :bday %><br />
    <%= f.date_select :bday %>
  </p>
  <p>
    <%= f.label :lastlogin %><br />
    <%= f.datetime_select :lastlogin %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :mailbox %><br />
    <%= f.check_box :mailbox %>
  </p>
  <p>
    <%= f.label :logintotal %><br />
    <%= f.text_field :logintotal %>
  </p>
  <p>
    <%= f.label :timebank %><br />
    <%= f.text_field :timebank %>
  </p>
  <p>
    <%= f.label :loginfailed %><br />
    <%= f.text_field :loginfailed %>
  </p>
  <p>
    <%= f.label :mailquota %><br />
    <%= f.text_field :mailquota %>
  </p>
  <p>
    <%= f.label :totalposts %><br />
    <%= f.text_field :totalposts %>
  </p>
  <p>
    <%= f.label :totaluploads %><br />
    <%= f.text_field :totaluploads %>
  </p>
  <p>
    <%= f.label :totaldownloads %><br />
    <%= f.text_field :totaldownloads %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>