<p>
  <b>Gid:</b>
  <%=h @user.gid %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @user.lastname %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Pwexpires:</b>
  <%=h @user.pwexpires %>
</p>

<p>
  <b>Pwhint:</b>
  <%=h @user.pwhint %>
</p>

<p>
  <b>Notes:</b>
  <%=h @user.notes %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>

<p>
  <b>State:</b>
  <%=h @user.state %>
</p>

<p>
  <b>Postalcode:</b>
  <%=h @user.postalcode %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Gender:</b>
  <%=h @user.gender %>
</p>

<p>
  <b>Address1:</b>
  <%=h @user.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @user.address2 %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @user.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @user.phone2 %>
</p>

<p>
  <b>Bday:</b>
  <%=h @user.bday %>
</p>

<p>
  <b>Lastlogin:</b>
  <%=h @user.lastlogin %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @user.enabled %>
</p>

<p>
  <b>Mailbox:</b>
  <%=h @user.mailbox %>
</p>

<p>
  <b>Logintotal:</b>
  <%=h @user.logintotal %>
</p>

<p>
  <b>Timebank:</b>
  <%=h @user.timebank %>
</p>

<p>
  <b>Loginfailed:</b>
  <%=h @user.loginfailed %>
</p>

<p>
  <b>Mailquota:</b>
  <%=h @user.mailquota %>
</p>

<p>
  <b>Totalposts:</b>
  <%=h @user.totalposts %>
</p>

<p>
  <b>Totaluploads:</b>
  <%=h @user.totaluploads %>
</p>

<p>
  <b>Totaldownloads:</b>
  <%=h @user.totaldownloads %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>