<p>
  <b>Groupname:</b>
  <%=h @group.groupname %>
</p>

<p>
  <b>Notes:</b>
  <%=h @group.notes %>
</p>

<p>
  <b>Allowlogin:</b>
  <%=h @group.allowlogin %>
</p>

<p>
  <b>Readmail:</b>
  <%=h @group.readmail %>
</p>

<p>
  <b>Sendmail:</b>
  <%=h @group.sendmail %>
</p>

<p>
  <b>Readpost:</b>
  <%=h @group.readpost %>
</p>

<p>
  <b>Writepost:</b>
  <%=h @group.writepost %>
</p>

<p>
  <b>Pagesysop:</b>
  <%=h @group.pagesysop %>
</p>

<p>
  <b>Chat:</b>
  <%=h @group.chat %>
</p>

<p>
  <b>Download:</b>
  <%=h @group.download %>
</p>

<p>
  <b>Upload:</b>
  <%=h @group.upload %>
</p>

<p>
  <b>Extprogs:</b>
  <%=h @group.extprogs %>
</p>

<p>
  <b>Admin all:</b>
  <%=h @group.admin_all %>
</p>

<p>
  <b>Admin files:</b>
  <%=h @group.admin_files %>
</p>

<p>
  <b>Admin posts:</b>
  <%=h @group.admin_posts %>
</p>

<p>
  <b>Admin chat:</b>
  <%=h @group.admin_chat %>
</p>

<p>
  <b>Admin extprogs:</b>
  <%=h @group.admin_extprogs %>
</p>

<p>
  <b>Admin mail:</b>
  <%=h @group.admin_mail %>
</p>

<p>
  <b>Fileareas:</b>
  <%=h @group.fileareas %>
</p>

<p>
  <b>Msgareas:</b>
  <%=h @group.msgareas %>
</p>

<p>
  <b>Dailytimelimit:</b>
  <%=h @group.dailytimelimit %>
</p>

<p>
  <b>Maxtimedeposit:</b>
  <%=h @group.maxtimedeposit %>
</p>

<p>
  <b>Maxtimewithdraw:</b>
  <%=h @group.maxtimewithdraw %>
</p>

<p>
  <b>Maxcredits:</b>
  <%=h @group.maxcredits %>
</p>

<p>
  <b>Maxdownloads:</b>
  <%=h @group.maxdownloads %>
</p>

<p>
  <b>Maxdownloadsmb:</b>
  <%=h @group.maxdownloadsmb %>
</p>

<p>
  <b>Maxuploads:</b>
  <%=h @group.maxuploads %>
</p>

<p>
  <b>Maxuploadsmb:</b>
  <%=h @group.maxuploadsmb %>
</p>

<p>
  <b>Mailquota:</b>
  <%=h @group.mailquota %>
</p>

<p>
  <b>Maxbulklists:</b>
  <%=h @group.maxbulklists %>
</p>

<p>
  <b>Maxposts:</b>
  <%=h @group.maxposts %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>